* {
    box-sizing: border-box;
  }
  
  button {
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .todo {
    border: 1px solid rgb(243, 243, 243);
    display: flex;
    margin-top: 5px;
    padding-top: 5px;
    width: 35%;
  }

 span{
    padding:8px;
    margin-bottom: 10px;
    display:flex;
  }
  
  input[type='text'] {
    font-size: 1 rem;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 5px;
    width: 350px;
  }
  
  .text{
    flex:1;
    text-align: left;
    color: black;
  }
  .add-button{
    margin-left: 10px;
  }

  .delete-button{
    color:brown;
    position: absolute;
    left:25%;
  }

  .edit-button{
    position: absolute;
    left:21%;
  }
